<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
		<add name="EnsGlobalDBEntities" connectionString="metadata=res://*/EnsGlobalDB.csdl|res://*/EnsGlobalDB.ssdl|res://*/EnsGlobalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEKA-WINSERVER;initial catalog=EnsGlobalDB;user id=sa;password=Meka2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>